<h1>マイページ</h1>

<table class="table table-bordered">
  <tbody>
    <tr></tr>
    <tr>
      <td class="table-secondary">氏名</td>
      <td><%= @customer.name %></td>
    </tr>

    <tr>
      <td class="table-secondary">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", customers_edit_path, class:"btn btn-primary" %></p>