<!--フラッシュメッセージ-->
<div><%= flash[:notice] %></div>


<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>マイページ</h1>
      <p class="font-weight-bold h4">登録情報
      <table class="table table-bordered shadow">
        <tbody>
          <tr></tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <!--ゲストユーザーがプロフィール編集画面に行けないようにする記述-->
      <% if @customer.name != "ゲストユーザー" %>
       <div class="col text-right">
         <%= link_to customers_edit_path, class:"btn btn-success" do %>
           <i class="fas fa-edit"></i> <span class="d-none d-md-inline"> 編集</span>
         <% end %>
       </div>
      <% end %>
    </div>
  </div>
</div>


