<h1>マイページ</h1>

<table class="table table-bordered">
  <tbody>
    <tr></tr>
    <tr>
      <td class="table-secondary">氏名</td>
      <td><%= @customer.name %></td>
    </tr>

    <tr>
      <td class="table-secondary">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<!--<p class="font-weight-bold h4">配送先　　<%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %></p>-->