<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="jumbotron jumbotron-fluid mt-0" style="background: url(<%= asset_path "about.jpg" %>) center; background-size:cover;">
        <div class="aboutpage"><h3><b>収支管理で生活を豊かに</b></h3><br></div>
        <p class="text-success">
          <b>Stock Managementは</b><br>
          ペーパーレスで環境にも優しく、<br>
          計算を自動でおこなってくれる収支管理サイトです。
        </p>
        <p>最近では働き方改革の一環として国が副業を推進したこともあり、多くの会社で副業が解禁されました。<br>
          それに伴い副業としてネット上でECショップをオープンしたり、ヤフオクやメルカリなどを使って商品の<br>
          売買をする人も増えてきました。ただ、このような副業をする時には、売れた商品などを管理する必要が<br>
          出てきます。そこで大切になるのが収支管理です。最近はタブレットやスマホの普及なども進んでいるの<br>
          で、紙やエクセルよりも馴染みやすいと思います。このアプリを使って便利な生活を手に入れましょう！<br>
        </p>
      </div>
    </div>
    </div>
    <div class="col-md-12">
      <!--前回の表示-->
      <%#= image_tag 'Stock Management.png'%>
      <!--</div>-->
      <div id="about-logo"></div>
    </div>
  </div>
</div>