<div class="text-center">
  <h1>About</h1>
<div>このアプリは収支管理アプリです。</div>
<div>家にある不用品や物販で仕入れた商品、</div>
<div>ついつい放置していませんか？？</div>
<div>アプリ一つで簡単に収支管理ができる、</div>
<div>そんな快適な生活を、一緒に作りましょう。</div>
</div>

<div style="text-align: center"><%= image_tag 'stock.jpg'%></div>