 <div class="col-md-9">
     <div class = "main-visual">
      <div class = "main-visual-content">
       <div class="jumbotron"  style= "background-size:cover;">
        <p class="lead">ようこそStock Managementへ！</p>
        <p>このアプリは収支管理アプリです</p>
        <div>このアプリを使うには会員登録が必要です。</div>
       </div>
      </div>
     </div>
    </div>
  </div>