<div class="col-md-9">
 <div class = "main-visual">
  <div class = "main-visual-content">
   <div class="jumbotron"  style= "background-size:cover;">
    <p class="lead">ようこそStock Managementへ！</p>
     <p>こちらは管理者画面です！</p>
     <div>ヘッダーの会員一覧から会員データの編集が可能です！</div>
   </div>
  </div>
 </div>
</div>