@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// フォント変更記述 //
* {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}


// テーブルに横スクロールを付ける
.product-list {
  overflow-x: scroll;
  white-space: nowrap;
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
// もともとmax-width: 540px↑


// ログイン画面の幅変更
.login {
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
}


// アバウトページの画像表示サイズ
#about-logo {
  background-image: url('../images/Stock Management.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
}


// カーソルを合わせるとホバーする
.item:hover{
  transform: scale(1.05, 1.05);
  transition: all .2s;
}


/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:1%;
	right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
	position: absolute;
	left:-20px;
	bottom:10px;
    /*テキストの形状*/
	color: #000000;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #000000;
    transform: skewX(-31deg);
}

.scrolldown4:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	right:0;
    /*矢印の形状*/
	width:1px;
	height: 50px;
	background:#000000;
}

// アバウトページの余白
.aboutpage {
  margin-top: 50px;
}

// トップページのアプリの説明の余白
.toppage {
  margin-top: 300px;
  margin-bottom: 100px;
}

// ジャンボトロンの余白
.jumbotron {
  margin-top: -35px;
}

// フッター
.footer {
  margin-bottom: 30px;
}


// ふのっきーさんの渾身の作品
/*ページネーション自体のデザイン*/
.pagination a {
border: none;   /*枠線をなくす*/
background: none;
border-radius: 30px !important;   /*角を丸くする*/
color: #464646;
}

/*ホバー時のデザイン*/
.pagination li a:hover {
background-color: #C8BCA6;   /*背景の色を変える*/
color: #464646;
}
/*現在のページの数字のところのデザイン*/
.active a{
background: #99ccff !important;
color: #464646 !important;
}

// /*ページネーション自体のデザイン*/
// .pagination>li>a {          
//   border: none;     /*枠線をなくす*/
//   color: #696969;   /*文字の色を変える*/
// }

// /* 表示しているページ番号のデザイン */
// .pagination>.active>a {     
//   background: #93c9ff;     /*背景の色を変える*/
//   border-radius: 15px;     /*角を丸くする*/
// }

// /*ホバー時のデザイン*/
// .pagination>li>a:hover {        
//   border-radius: 15px;    /*角を丸くする*/
// }


#sbtn4:hover{
color:#888;
}