<!--フッター-->
<div class="container-fluid" style="padding-bottom: 100px;">
  <footer>
    <div class="fixed-bottom">
      <div class="text-center text-white p-3" style="background-color:#003333;">
        Stock Management © 2023 Co., Ltd.
      </div>
    </div>
  </footer>
</div>
