<!--フッター-->
<!--<div class="container-fluid" style="padding-bottom: 100px;">-->
<!--  <footer>-->
<!--    <div class="fixed-bottom">-->
<!--      <div class="text-center text-white p-3" style="background-color:#003333;">-->
<!--        © 2022 Tetsuaki Oyama - Stock Management --->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->

<footer>
  <div class="my-3 d-flex justify-content-center">
    <p>&copy;  2022 Tetsuaki Oyama - Stock Management</p>
  </div>
</footer>