<div class="search_container">
  <% if customer_signed_in? %>
    <%= form_with url: search_path,local: true, method: :get do |f| %>
      <%= f.text_field :word, :placeholder => "商品名で", :required => true %>
      <%#= f.submit "検索", class: "btn btn-info" %>
      <button id="sbtn4" type="submit"><i class="fas fa-search"></i></button>
    <% end %>
  <% end %>
</div>

